@import '../../_mixins.scss';
@import '../../_variable.scss';


.info {
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    @include mobile-h2;

    &__card-label {
        color: $textLabel;
        display: block;
    }
}