@import '../../_mixins.scss';
@import '../../_variable.scss';

h1 {
    @include mobile-h1;
}
h2 {
    @include mobile-h2;
}
h4 {
    @include mobile-h4;
}
h5 {
    @include mobile-h5;
}

.inventory {
    padding-top: 5rem;
    margin: 0 1rem;
    &__search {
        width: 13rem;
        height: 2.5rem;
        border-radius: 5px;
        border: 1px solid $silver;
    }
}