<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bandsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./Styles/Navigation.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="./Styles/Shows.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="./Styles/Footer.css">
    
</head>
<body>
    <nav class="navbar">
        <a href="index.html">
            <div class="navbar__image"><img src="Assets/Logo/Logo-bandsite.png" alt="logo"></div>
        </a>
        <div class="navbar__menu">
            <a class="navbar__menu__bio" href="Index.html">Biography</a>
            <a class="navbar__menu__show navbar__menu__show--highlighted" href="Index.html">Shows</a>
            <!--Change link once other webpage is created-->
        </div>
    </nav>
    <header class="hero">
        <div><h3 class="hero__header--small">Woman Worldwide Album</h3>
        <h1 class="hero__header">Waters of Nazareth x We Are your Friends x Phantom</h1></div>
        <iframe class="hero__frame" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/535872399&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </header>
    <main class="main">
        <h2 class="main__header">Shows</h2>
        <section class="main__tickets">
            <div class="main__tickets__vertical">
                <div class="main__tickets__section__label--verticaldate">
                    <h4>DATES</h4>
                </div>
                <div class="main__tickets__section__label--verticalvenue">
                    </h4>VENUE</h4>
                </div>
                <div class="main__tickets__section__label--verticalloc">
                    </h4>LOCATION</h4>
                </div>
            </div>
            <div id="template">
            <div class="main__tickets__section">
                <div class="main__tickets__section__label">
                    <h4>DATE</h4>
                </div>
                <div class="main__tickets__section__date"></div>
                <div class="main__tickets__section__label">
                    </h4>VENUE</h4>
                </div>
                <div class="main__tickets__section__venue"></div>
                <div class="main__tickets__section__label">
                    </h4>LOCATION</h4>
                </div>
                <div class="main__tickets__section__loc"></div>
                <button class="main__tickets__section__button" type="submit">BUY TICKETS</button>
            </div>
            </div>
            
        </section>
    </main>
    <footer class="footer">
        <section class="footer__top">
            <h2 class="footer__top__header">Get in touch</h2>
            <div class="footer__top__iconbar">
                <img class="footer__top__iconbar__icon" src="Assets/Icons/SVG/Icon-instagram.svg" alt="Instagram logo" />
                <img class="footer__top__iconbar__icon" src="Assets/Icons/SVG/Icon-facebook.svg" alt="Facebook logo" />
                <img class="footer__top__iconbar__icon" src="Assets/Icons/SVG/Icon-twitter.svg" alt="Twitter logo" />
            </div>
            <div class="footer__top__logo"><img src="Assets/Logo/Logo-bandsite.png" alt="logo"></div>
        </section>
        <div class="footer__contacts">
            <div class="footer__contacts__item footer__contacts__item--margin">
                <div class="footer__contacts__item__name">
                    <h5>Richard Rovner</h5>
                    <h5>The Bees Knees Management</h5>
                </div>
                <div class="footer__contacts__item__adress">
                    <p>460 King Street West</p>
                    <p>Toronto, Ontario M5V 1L7</p>
                </div>
                <div class="footer__contacts__item__email"><a href="mailto:info@thebeesknees.com">info@thebeesknees.com</a>
                </div>
            </div>
            <div class="footer__contacts__item footer__contacts__item--margin">
                <div class="footer__contacts__item__name">
                    <h5>Marsha Vlasic</h5>
                    <h5>Artist Group International</h5>
                </div>
                <div class="footer__contacts__item__adress">
                    <p>Booking Agent for</p>
                    <p>US/South America/Japan</p>
                </div>
                <div class="footer__contacts__item__email"><a
                        href="mailto:marsha.vlasic@artistgrp.com">marsha.vlasic@artistgrp.com</a></div>
            </div>
            <div class="footer__contacts__item footer__contacts__item--margin">
                <div class="footer__contacts__item__name">
                    <h5>Russel Warby</h5>
                    <h5>William Morrir Entertainment</h5>
                </div>
                <div class="footer__contacts__item__adress">
                    <p>Booking Agent for</p>
                    <p>UK / EU / AU</p>
                </div>
                <div class="footer__contacts__item__email"><a
                        href="mailto:RLW@wmeentertainment.com">RLW@wmeentertainment.com</a></div>
            </div>
        </div>
        <div class="footer__copyright">
            <p>Copyright The Bees Knees © 2018</p>
            <p>All Rights Reserved</p>
        </div>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="Scripts/Shows.js"></script>
</body>

</html>